.cluster-marker {
  color: #ffffff;
  background: #1978c8; 
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point-marker {
  background: none;
  border: none;
}

.point-marker img {
  width: 35px;
}
